body{
    background: lightblue;
}

h1 {
    color: blue;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.Ingredents {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Recipes,
.Description,
.Steps{
    font-family: Italic;
    font-weight: bold;
}
.Italian {
    color: green;
    padding: 10px;
    border: solid green 2px;
    margin: 20px;

}
.Lsg {
    padding-right: 15px;
}
.America {
    color: violet;
    width: 64px;
    padding: 10px;
    border: solid violet 2px;
    margin: 20px;
    display: inline-flex;
}
