body{
    background: lightblue;
}

h1 {
    color: blue;
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
}
.Ingredents {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Recipes,
.Description,
.Steps{
    font-family: Italic;
    font-weight: bold;
}
.Italian {
    color: green;
}
.America {
    color: violet;
}